html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-body text-base dark:bg-darkmode-body font-primary font-normal leading-relaxed text-text dark:text-darkmode-text;
}

/* Default: No fixed width for larger screens */
select {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Mobile: Apply fixed width */
@media (max-width: 768px) {
  select {
    width: 82px;
  }
}


/* Optional: Styling for options */
select option {
  white-space: nowrap;
  /* Prevent wrapping in the option text */
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark dark:text-darkmode-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote>p {
  @apply my-0 #{!important};
}